body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    overflow-wrap: break-word;
    margin: 0;
  }
  
  h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .connected-address {
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    white-space: normal;
    font-size: 0.9rem;
}
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #switchWalletButton {
    background-color: #28a745; /* Green color for Switch Wallet button */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  form {
    margin-top: 1rem;
  }
  
  p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: #555;
    padding: 0.5rem;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .status-success {
    color: #28a745;
    font-weight: bold;
  }
  
  .status-failure {
    color: #dc3545;
    font-weight: bold;
  }
  
  .rules-section {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    text-align: left;
}

.rules-section h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.rules-section label {
    display: inline-block;
    width: 100px;
    margin-right: 0.5rem;
    font-weight: bold;
}

.rules-section select,
.rules-section input[type="number"] {
    width: calc(50% - 1rem);
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
